
@font-face {
    font-family: "AAutoSignature";
    font-weight: 400;
    src: url("../font/AAutoSignature-1GD9j.woff") format("woff");
}

@font-face {
    font-family: "MapoGoldenPier";
    font-weight: 400;
    src: url("../font/MapoGoldenPier.woff") format("woff");
}

html {
    font-family: "MapoGoldenPier", sans-serif;
    font-size: 16px;
}

body {
    min-width: 320px;
    max-width: 425px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wedding {
    font-family: "AAutoSignature", sans-serif;
    padding: 6.438em 5.125em 0;
    color: #fab4b2;
    text-align: center;
}
.wedding .title {

}
.wedding .date {
    padding-top: 15px;
}

.image__top {
    position: relative;
}

.image__top .txt_label {
    position: absolute;
    left: 0;
    bottom: 36px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.image__top .txt_label .txt {
    font-size: 20px;
    line-height: 50px;
}

.greeting {
    padding: 100px 0;
    text-align: center;
    font-size: 0.875em;
}

.greeting p {
    line-height: 31px;
    letter-spacing: -1.2px;
}

.greeting p:nth-child(n+2) {
    margin-top: 45px;
}

.gallery {
}
.gallery .title {
    padding: 50px 0 60px;
    text-align: center;
    font-family: "AAutoSignature", sans-serif;
    font-size: 2.5em;
}
.gallery .title:after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    margin: 40px auto 0;
    background-color: rgba(250, 180, 178, 0.5);
}

.gallery .swiper-slide {
}

.image__bottom {
    padding: 6.25em 0;
    text-align: center;
}

